tensorflow-gpu
imageio==2.9.0
matplotlib==3.4.2
numpy==1.20.3
scikit-image==0.18.3
scikit-learn==0.24.2
segmentation-models==1.0.1
SimpleITK==2.1.1
tqdm==4.61.2
mlflow==1.20.2
pyyaml
albumentations==1.0.3
